.contact-with-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 110vh;
    margin: auto;
    form{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        input,textarea{
            padding: .5rem;
            margin: 1rem;
            color: #fafafa;
            background: none;
            border: none;
            border-bottom: 1px solid #ffff;
            width: 90%;
            font-size: 1.2rem;
        }
        textarea{
            height: 150px;
        }
    }
    // img{
    // transform: rotateY(25deg);
    // }
}