* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  list-style: none;
  text-decoration: none;
  color: #fff;
  line-height: 23px;
  scroll-behavior: smooth;
}

body {
  background-color: #03001C;
  overflow-x: hidden;
}

.btn {
  padding: 10px 40px;
  position: relative;
  top: 40px;
  border: solid 1px gold;
  border-radius: 5px;
}
.btn:hover {
  background-color: gold;
  color: #03001C;
  letter-spacing: 4px;
}

.tittle {
  text-align: center;
  padding: 3rem 0rem;
  font-size: 2rem;
}