@import "_main-style.scss";
@import "_contact-with-us.scss";
@import "_nav&header.scss";


.who_are_we{
    min-height: 100vh;
    background-image:linear-gradient( #16233773,#070232ca ) , url("../images/dd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    
    .up{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 0rem 3rem;
        img{
            width: 50%;
            height: auto;
        }
    }
    .article{
        h1{
            padding: 1rem 0rem;
        }
        width: 50%;
    }

}

.our_service{
    min-height: 100vh;
    background-image:linear-gradient(right , rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)) , url("../images/serv.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .up_service{
        @include grid(25rem);
        text-align: center;
        padding: 2rem 0rem;
        .card{
            display: flex;
            align-items: center;
            padding:1rem;
            margin: auto;
            border-radius: 15px;
            width: 70%;
            height: auto;
            background-color: #385f84;
            &:hover{
                background-color: #03001C;
                box-shadow:5px 10px 15px #301E67;
            }
            .art{
                padding: .3rem .5rem;
                width: 100%;
                text-align: right;
            }
            img{
                width: 60px;
                height: auto;
                margin-top: -90px;
            }
        }
    }
}

.desing_stage{
    .up_article{
        @include grid(25rem);
        
        width: 100%;
        align-items: center;
        .main-img{
            border-radius: 55px;
            padding: 2rem;
            max-width: 90%;
        }
        .up-card{
            display:flex;
            
            flex-direction: column;
            .card{
                margin: 1rem;
                display: flex;
                align-items:center; 
                background-color: #5B8FB9;
                border-radius: 10px;
                width: 80%;
                .num{
                    padding: .3rem;
                    margin: .9rem;
                    background-color: #FF9100;
                    border-radius: 5px;
                    img{
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }
    }
    
    .up-two{
        h1{
            text-align: center;
            padding: 2rem 0rem;
            font-size: 2rem;
        }
        .up-cards{
            width: 90%;
            min-height: 60vh;
            align-items:center;
            margin: auto;
            @include grid(20rem);
            text-align: center;
            .card{
                display: flex;
                text-align: right;
                flex-direction: column;
                padding:1rem 0rem;
                margin:2rem auto;
                border-radius: 5px;
                min-width: 260px;
                max-width: 50%;
                height: auto;
                background-color: #5B8FB9;
                padding: .9rem;
                &:hover{
                    background-color: #03001C;
                    box-shadow:5px 10px 15px #301E67;
                }
                img{
                    margin-top:-50px;
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
}
.contact-us{
    // background-color: #25292d;
    padding:10rem 0rem;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .content{
        position: relative; 
        background-color: #385f84;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row-reverse;
        width: 85%;
        height: 80vh;
        border-radius: 25px;
        padding: 0rem 2rem;
        margin: auto;
        img{
            position: absolute;
            left: -65px;
            bottom: 50%;
            max-width: 80%;
        }
        .main-content{
            max-width: 50%;
            position: absolute;
            right: 5%;
        }

        // style the form
        .form{
            transition: all 1s ease-in-out;
            background-color: #385f84;
            border: 1px solid #FF9100;
            z-index: 999;
            display: flex;
            flex-direction: column;
            border-radius: 25px;
            margin: auto;
            padding: 3rem ;
            width: 80%;  height: 90vh;
            overflow:auto;
            position: fixed;
            top: 4%;
            .icon_form{
                position: absolute;
                top: 2rem;
                left: 2rem;
                cursor: pointer;
                width: 20px; height: auto;
            }
            input,textarea{
                outline: none;
                border: none;
                color: #000;
                font-weight: 700;
                font-size: 1.1em;
                border-radius: 5px;
                padding: .6rem;
                margin: 1rem 0rem;
                width: 95%;
            }
            .btn{
                margin-top: -20px;
            }
            .main-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 98%;
                div{
                    width: 50%;
                }
            }
            
        }
        .form_close{
            translate: all 1s ease-in-out;
            position:fixed;
            top: 100%;
        }
    }
    
    .infromation{
        max-width: 90%;
        height: 200px;
        position: relative;
        width: 100%; 
        ul{
            position: absolute;
            width: 100%; 
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                margin-left: 100px;
                a{
                    img{
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }
    }
}

footer{
    margin: auto 0rem;
    background-color: #0c0a11c5;
    
    .up-footer{
        min-height: 60vh;
        @include grid(15rem);
        align-items: center;
        .menu{
            li{
                margin: .4rem 0rem;
            }
        }
        .logo{
            img{
                width: 200px;
                height: auto;
            }
        }
    }
}

.numbers_to_contact{
    position:fixed;
    bottom:50px;
    left: 50px;
    a{
        background-color: #ff9100;
        padding: .6rem;
        display: flex;
        align-items: center;
        border-radius: 15px;
        img{
            width: 40px;
            height: auto;
        }
    }
}


// responsve desing
@media screen and (max-width: 903px){
        nav{
            .logo{
                .bar{
                    display: block;
                    float: right;
                }
            }
            ul{
                opacity: 0;
                overflow: hidden;
                background-color: #301E67;
                width: 100%;
                height: 0;
                display: flex;
                justify-content: space-around;
                position: absolute;
                flex-direction: column;
                align-items: center;
                margin-top: 60px;
                padding: 1rem;
                z-index: 999;
                li{
                    margin:1rem 0rem;
                }  
            }
        }
        .navbar{
            display: flex;
            align-items: center;
            ul{
                opacity: 1;
                background-color: #301E67;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                position: absolute;
                flex-direction: column;
                align-items: center;
                margin-top: 460px;
                padding: 1rem;
                z-index: 999;
                li{
                    margin:1rem 0rem;
                }  
            }
        }
        .up_header{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
            height: 100vh;
            width: 90%;
            margin: auto;
        }
    }

@media screen and (max-width:760px){
    .who_are_we{        
        .article{
            width: 90%;
            text-align: center;
        }
    }
}